<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="resources/styles/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>

    <body class=".roboto-mono-100">
        <div class="parent">
            <div class="div1 logoFont">
                <a href="/">JustMyThoughts</a>
            </div>
            <div class="div2">
                <a href="/journals">
                    <div class="button">
                        <span class="larger">
                            Journal Entries: <%= journalCount %>
                        </span>
                        <p>
                            Last entry: <%= lastEntry %>
                        </p>
                    </div>
                </a>
            </div>
            <div class="div3 button">
                <a href="/write">
                    <span class="larger">
                        Write
                    </span>
                    <p>

                    </p>
                </a>
            </div>
            <div class="div4 button"></div><pyt></pyt>
        </div>
    </body>

</html>